.survival {
    padding-top: 120px;
}

@media screen and (max-width: 1199px) {
    .survival {
        padding-top: 60px;
    }
}

@media screen and (max-width: 840px) {
    .survival {
        padding-top: 30px;
    }
}

@media screen and (max-width: 699px) {
    .survival {
        padding-top: 15px;
    }
}