.cards__container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 750px) {
    .cards__container {
        max-width: 520px;
    }
}

@media screen and (max-width: 600px) {
    .cards__container {
        flex-direction: column;
    }
}
