.footer {
    background-image: url('../../images/footer__background.jpg');
    display: flex;
    flex-direction: row;
    padding: 150px 120px; 
    margin: 0px auto;
    max-width: 1440px;
    box-sizing: border-box;
}


@media screen and (max-width: 1439px) {
    .footer {
        max-width: 1200px;
        background-size: contain;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 120px;
    }
}

@media screen and (max-width: 1099px) {
    .footer {
        padding: 50px 60px;
    }
}

@media screen and (max-width: 840px) {
    .footer {
        padding: 50px 30px;
    }
}

@media screen and (max-width: 699px) {
    .footer {
        padding: 30px 30px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}  
