.footer {
    background-image: url('../../images/footer__background.jpg');
    display: flex;
    flex-direction: row;
    padding: 150px 120px;
    margin: 0px;
}

.footer__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px 120px;
    min-width: 480px;
    justify-content: space-between;
    padding: 0px;

}

.footer__lang-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    line-height: 60px;
    text-decoration: none;
    color: #f7f7f7;
}

.footer__list_social {
    margin: 0px;
    min-width: 200px;
}

.social-background {
    width: 40px;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.face {
    width: 15px;
}

.squere {
    width: 30px;
}

.PPPP {
    width: 20.01px;
}

.tel {
    width: 25.5px;
}