.get-notified__form_button {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    color: #f7f7f7;
    border: none;
    background-color: #CD6326;
    border-radius: 0px 5px 5px 0px;
    margin: 0px;
    min-width: 120px;
    min-height: 60px;
    display: block;
}

.get-notified__form_button:hover {
    cursor: pointer;
    background-color: #e68f32;
}

.get-notified__form_button:active {
    background-color: #8f5613;
    outline: none;
}

@media screen and (max-width: 840px) {
    .get-notified__form_button {
        padding: 0px 10px;
        font-size: 15px;
        line-height: 20px;
        min-height: 40px;
    }
 }

@media screen and (max-width: 600px) {
    .get-notified__form_button {
        padding: 0px 10px;
        font-size: 15px;
        line-height: 20px;
        min-height: 40px;
        min-width: 40px;
    }
}