.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    min-width: 480px;
}

@media screen and (max-width: 999px) {
    .header__list {
        min-width: 350px;
    }
}

@media screen and (max-width: 600px) {
    .header__list {
        min-width: 260px;
        flex-direction: column;
    }
}