.cards__text {
    position: absolute;
    top: 247px;
    left: 0;
    width: 300px;
    color: #f7f7f7;
}

@media screen and (max-width: 1260px) {
    .cards__text {
        width: 250px;
        top: 187px;
    }
}

@media screen and (max-width: 999px) {
    .cards__text {
        width: 180px;
        top: 147px;
    }
}
  